<nav class="nav-menu">
    <label for="menu_checkbox" class="icon icon-menu nav-button"></label>
    <input type="checkbox" class="menu-checkbox" id="menu_checkbox">
    <ul class="nav-list">
        {{#foreach navigation}}
            <li class="menu-list-item">
                <a class="menu-item" href="{{url absolute="true"}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
</nav>